[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
mypy = "*"
pylint = "*"
sqlalchemy = "*"
alembic = "*"
pylint-pydantic = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
jose = "*"

[dev-packages]

[requires]
python_version = "3.11"
